#A_logos1 {
    display: inline-block;
    position: relative;
    width: 100%;
    top: 200px;
}
.text1 {
    position: absolute;
    top: 310px;
    left: 200px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

.text2 {
    position: absolute;
    top: 310px;
    left: 890px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

.text3 {
    position: absolute;
    top: 310px;
    left: 1500px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }