#D_logos1 {
    display: inline-block;
    position: relative;
    width: 100%;
    top: 200px;
}
.Dtext1 {
    position: absolute;
    top: 310px;
    left: 270px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

.Dtext2 {
    position: absolute;
    top: 310px;
    left: 835px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

.Dtext3 {
    position: absolute;
    top: 310px;
    left: 1520px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }