#K_logos1 {
    display: inline-block;
    position: relative;
    width: 100%;
    top: 200px;
}
.Ktext1 {
    position: absolute;
    top: 310px;
    left: 265px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

.Ktext2 {
    position: absolute;
    top: 310px;
    left: 900px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

.Ktext3 {
    position: absolute;
    top: 310px;
    left: 1520px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }