#O_logos1 {
    display: inline-block;
    position: relative;
    width: 100%;
    top: 200px;
}
.Otext1 {
    position: absolute;
    top: 310px;
    left: 210px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

.Otext2 {
    position: absolute;
    top: 310px;
    left: 895px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

.Otext3 {
    position: absolute;
    top: 310px;
    left: 1525px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }