#Q_logos1 {
    display: inline-block;
    position: relative;
    width: 100%;
    top: 200px;
}
.Qtext1 {
    position: absolute;
    top: 310px;
    left: 218px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

.Qtext2 {
    position: absolute;
    top: 310px;
    left: 873px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

.Qtext3 {
    position: absolute;
    top: 310px;
    left: 1485px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }