#R_logos1 {
    display: inline-block;
    position: relative;
    width: 100%;
    top: 200px;
}
.Rtext1 {
    position: absolute;
    top: 310px;
    left: 255px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

.Rtext2 {
    position: absolute;
    top: 310px;
    left: 890px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

.Rtext3 {
    position: absolute;
    top: 310px;
    left: 1515px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }