#S_logos1 {
    display: inline-block;
    position: relative;
    width: 100%;
    top: 200px;
}
.Stext1 {
    position: absolute;
    top: 310px;
    left: 230px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

.Stext2 {
    position: absolute;
    top: 310px;
    left: 900px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

.Stext3 {
    position: absolute;
    top: 310px;
    left: 1530px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }