#V_logos1 {
    display: inline-block;
    position: relative;
    width: 100%;
    top: 200px;
}
.Vtext1 {
    position: absolute;
    top: 310px;
    left: 240px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

.Vtext2 {
    position: absolute;
    top: 310px;
    left: 900px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

.Vtext3 {
    position: absolute;
    top: 310px;
    left: 1510px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }