body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#search {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  text-align: center;
}

.gif-result-display {
  width: 300px;
  height: 300px;
  margin-top: 15%;
}

body {
  background: url("image.jpg") no-repeat fixed;
  background-position: center;
  background-size: cover;
  
}